.container {
  min-width: 70%;
  margin: 0 auto;
}

.title {
  .info {
    display: flex;
    gap: 0.5rem;
    .numStudents {
      background: rgb(228, 228, 228);
      color: rgb(113, 117, 113);
      padding: 0 0.6rem;
      border-radius: 1rem;
    }
  }

  .buttons {
    display: flex;
    margin: 0.8rem 0;
    gap: 0.8rem;
  }
}

.table {
  width: 100%;

  .tableRow {
  }
}

.studentCell,
.studentCellHead {
  width: 13rem;
  text-align: center;
  padding: 8px;
  overflow: hidden;
  height: 3.25rem;
  display: flex;
  align-items: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: middle;
}

.lessonCell {
  align-items: center;
  justify-content: center;
  width: 170px;
  text-align: center;
  padding: 8px;
}

.studentCheckbox {
  margin-right: 0.5rem;
}

.selectTrigger {
  width: 110px;
  margin: 0 auto;
}

.placeholderRow {
  height: 3.25rem; /* Фиксированная высота */
}

.noLesson {
  color: #d4d4d4; /* Серый цвет */
  font-style: italic;
}
